@import "tailwindcss";

* {
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  background-color: black;
}

#taskList::-webkit-scrollbar{
  display: none;
}

#alltask::-webkit-scrollbar{
  display: none;
}